.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    padding: 16px;
    z-index: 50;

    animation: fadeIn 195ms forwards;
}

.modal:hover,.modal:focus {
    position:absolute;
    height: auto;
    z-index:50;
}

.modal-content{
    margin: 0px auto;
    width: 600px;
    height: 500px;
    background: #f3f3f3;
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
    z-index:100;
}

@keyframes fadeIn {
    100% { opacity: 1; }    
    0%   { opacity: 0; }
}

.button {
    padding-top: 5px;
    border-radius: 4px;
    background-color: #f2f2f2;
    font-size: 16px;
}
