li {
    float: left;
  }
  
li a {
    display: block;
    color: #2e4feb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: 16px;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }

li a:hover:not(.active) {
    background-color: #ddd;
}

.active {
    color:white;
    background-color: #2e4feb;
}